.v-input {
  position: relative;
  padding: 15px 0 15px;
  width: max-content;
  font-size: 14px;
  font-weight: 500;

  &__name {
    position: absolute;
    left: 10px;
    top: 18px;
    transition: top .3s ease-in-out, left .3s ease-in-out, font-size .3s ease-in-out;

    &--top {
      left: 0;
      top: 0;
      font-size: 10px;
    }
  }

  &__input {
    padding: 5px 10px;
    box-shadow: 0 0 0 0 var(--primary) inset, 0 0 5px 4px var(--primary);
    transition: box-shadow .3s ease-in-out;
  }

  &__error {
    position: absolute;
    bottom: 0;
    right: 0;
    font-size: 12px;
    font-weight: 300;
    color: var(--red);
  }


}